* {
   margin: 0; 
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px; 
    
}
header .search {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #BEBEBE;
    padding: 5px;

}

header .search form {
    display: flex;
}

header .search form input {
    border-style: none;

    outline:none;
}

header .search form button {
    border-style: none;
    background: transparent;
}

header .logo{
    Width: 207px;
Height: 40px;
}

footer{
    padding: 30px;
}

footer p{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 17px;
    color: #313131;
    opacity: 0.5;

}

footer a{
    font-weight: bold
}

footer a:link {
    color: red;
  }
  
  /* visited link */
  footer a:visited {
    color: green;
  }
  
  /* mouse over link */
  footer a:hover {
    color: hotpink;
  }
  
  /* selected link */
  footer a:active {
    text-decoration: none;
    color:  #EC9B69;
  }

  main{
       background-color: #f5f4f4;
}

.profile{

    width: 21rem ;
}

.cards{
    display: flex;
    flex-direction: column;
}

.content{
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
}

.notfound{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.img-found{
    width: 90%;
}
.ico{
    Width: 41px;
    Height: 28px;
}
.avatar {
    width: 252px;
    height: 254.66px;
    border-radius: 8px;
}

main .options{
    display: flex;
    flex-direction: row;
}

span{
    font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

color: #313131;

opacity: 0.5;

}
.network, .repo{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;

width: 66px;
height: 40px;
margin-right: 4px;
}

.color-white{
    background:#FFFFFF
    ;
}


.text-center{
    text-align: center;
}

.padding-6{
    padding-top:6px ;
    padding-bottom: 6px;
}

.bolinha, .estrelinha{

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;

}


.padding-61{
    padding-top: 61px;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    color: #EC9B69;
    line-height: 40px;
}

.tituloRepo{
    font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #313131;
}

.descricao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.descricaoRepo{
    font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #313131;

opacity: 0.5;
}

h2{
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #313131;
opacity: 0.5;
width: 252px;
}

.card__repo {
    padding: 10px;
    background: #fff;
    margin-bottom: 24px;
    margin-left: 24px;
    width: 26rem;
}

.cards{
    display: flex;
    flex-direction: column;
}

.colunm_repo{
    display: flex;
    flex-direction: row;
}
main p {
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #313131;

opacity: 0.5;
}
